<div ng-app="StartLine" ng-controller="HelloController" >
    <h1 style="font-size:25px">Welcome to the world of {{helloTo.title}} </h1>
</div>
<nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#Show">Home</a></li>
            <li><a href="#Aboutus">About Us</a></li>
            <li><a href="#Contactus">Contact Us</a></li>
            <li><a href="#Carrers">Carrers</a></li>
        </ul>
    </div>
</nav>
<p>You're logged in!!</p>
<p><a href="#/login">Logout</a></p>